In [8]:
import sqlite3

In [9]:
def create_table(database_name: str, table_name: str, columns: str):
    """Cria uma tabela em um banco de dados
    Args:
        database_name (str): Nome do banco de dados.
        table_name (str): Nome da tabela.
        columns (str): Definição das colunas da tabela.
    """
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute(f"""
        CREATE TABLE IF NOT EXISTS {table_name} ({columns})
    """)
    conn.close()

In [10]:
def create_nomes_table(database_name: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS nomes (
            id INTEGER PRIMARY KEY,
            nome TEXT NOT NULL
        )
    """)
    conn.close()

In [11]:
def create_telefones_table(database_name: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS telefones (
            id INTEGER PRIMARY KEY,
            telefone TEXT NOT NULL
        )
    """)
    conn.close()

In [12]:
def create_emails_table(database_name: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS emails (
            id INTEGER PRIMARY KEY,
            email TEXT NOT NULL
        )
    """)
    conn.close()

In [13]:
def add_nome(database_name: str, nome: str):
conn = sqlite3.connect(database_name)
cursor = conn.cursor()

cursor.execute("""
    INSERT INTO nomes (nome) VALUES (?)
""", (nome,))

conn.commit()
conn.close()

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-13-1739be6d7090>, line 2)

In [14]:
import sqlite3

In [15]:
def add_nome(database_name: str, nome: str):
conn = sqlite3.connect(database_name)
cursor = conn.cursor()

cursor.execute("""
    INSERT INTO nomes (nome) VALUES (?)
""", (nome,))

conn.commit()
conn.close()

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-15-1739be6d7090>, line 2)

In [16]:
def add_nome(database_name: str, nome: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO nomes (nome) VALUES (?)
    """, (nome,))
    conn.commit()
    conn.close()

In [17]:
def add_telefone(database_name: str, telefone: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO telefones (telefone) VALUES (?)
    """, (telefone,))
    conn.commit()
    conn.close()

In [18]:
def add_email(database_name: str, email: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO emails (email) VALUES (?)
    """, (email,))
    conn.commit()
    conn.close()

In [19]:
add_nome('agenda.db', 'João')

OperationalError: no such table: nomes

In [20]:
add_nome('agenda.db', 'João')

OperationalError: no such table: nomes

In [21]:
def add_nome(database_name: str, nome: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO nomes (nome) VALUES (?)
    """, (nome,))
    conn.commit()
    conn.close()

In [22]:
add_nome('agenda.db', 'João')

OperationalError: no such table: nomes

In [23]:
def add_nome(database_name: str, nome: str):
    conn = sqlite3.connect('adenda.db')
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO nomes (nome) VALUES (?)
    """, (nome,))
    conn.commit()
    conn.close()

In [24]:
add_nome('agenda.db', 'João')

OperationalError: no such table: nomes

In [25]:
def create_nomes_table(database_name: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS nomes (
            id INTEGER PRIMARY KEY,
            nome TEXT NOT NULL
        )
    """)
    conn.close()

In [26]:
add_nome('agenda.db', 'João')

OperationalError: no such table: nomes

In [27]:
create_nomes_table('agenda.db')

In [28]:
add_nome('agenda.db', 'João')

OperationalError: no such table: nomes

In [29]:
def add_nome(database_name: str, nome: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO nomes (nome) VALUES (?)
    """, (nome,))
    conn.commit()
    conn.close()

In [30]:
def add_telefone(database_name: str, telefone: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO telefones (telefone) VALUES (?)
    """, (telefone,))
    conn.commit()
    conn.close()

In [31]:
def create_telefones_table(database_name: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS telefones (
            id INTEGER PRIMARY KEY,
            telefone TEXT NOT NULL
        )
    """)
    conn.close()

In [32]:
def add_telefone(database_name: str, telefone: str):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("""
        INSERT INTO telefones (telefone) VALUES (?)
    """, (telefone,))
    conn.commit()
    conn.close()

In [33]:
create_telefones_table('agenda.db')

In [34]:
create_emails_table('agenda.db')

In [35]:
add_nome('agenda.db', 'João')

In [36]:
add_telefone('agenda.db', '967845670')

In [37]:
add_email('agenda.db', 'joao@example.com')

In [38]:
add_nome('agenda.db', 'Marcela')

In [39]:
add_email('agenda.db', 'marcela@example.com')

In [40]:
add_telefone('agenda.db', '935478970')

In [41]:
add_nome('agenda.db', 'Juliana')

In [42]:
add_email('agenda.db', 'juliana@example.com')

In [43]:
add_telefone('agenda.db', '968479830')

In [44]:
add_nome('agenda.db', 'Roseli')

In [45]:
add_email('agenda.db', 'roseli@example.com')

In [46]:
add_telefone('agenda.db', '987976587')

In [47]:
add_nome('agenda.db', 'Catarina')

In [48]:
add_email('agenda.db', 'cata@example.com')

In [49]:
add_telefone('agenda.db', '999876545')

In [50]:
add_nome('agenda.db', 'Pedro')

In [51]:
add_email('agenda.db', 'pedro@example.com')

In [52]:
add_telefone('agenda.db', '988763420')

In [53]:
import sqlite3

In [54]:
import sqlite3

In [55]:
import pandas as pd

In [56]:
def join_tabelas_com_id(database_name: str):
    conn = sqlite3.connect(database_name)
    # Query SQL para realizar o JOIN usando a coluna id
    query = """
        SELECT nomes.id AS id_nome, nomes.nome, telefones.id AS id_telefone, telefones.telefone, emails.id AS id_email, emails.email
        FROM nomes
        LEFT JOIN telefones ON nomes.id = telefones.id
        LEFT JOIN emails ON nomes.id = emails.id
    """
    # Executa a query e retorna um DataFrame pandas
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

In [57]:
def join_tabelas_com_id(database_name: str):
    conn = sqlite3.connect(database_name)
    # Query SQL para realizar o JOIN usando a coluna id
    query = """
        SELECT nomes.id AS id_nome, nomes.nome, telefones.id AS id_telefone, telefones.telefone, emails.id AS id_email, emails.email
        FROM nomes
        LEFT JOIN telefones ON nomes.id = telefones.id
        LEFT JOIN emails ON nomes.id = emails.id
    """
    # Executa a query e retorna um DataFrame pandas
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df
# Realiza o JOIN e obtém o resultado em um DataFrame

result = join_tabelas_com_id('agenda.db')
# Exibe o resultado

print(result)

   id_nome      nome  id_telefone   telefone  id_email                email
0        1      João            1  967845670         1     joao@example.com
1        2   Marcela            2  935478970         2  marcela@example.com
2        3   Juliana            3  968479830         3  juliana@example.com
3        4    Roseli            4  987976587         4   roseli@example.com
4        5  Catarina            5  999876545         5     cata@example.com
5        6     Pedro            6  988763420         6    pedro@example.com

In [58]:
def create_db(database_name: str):
    sqlite3.connect('agenda2.db')

In [59]:
def join_nomes_telefones(database_name: str):
    conn = sqlite3.connect(database_name)
    # Query SQL para realizar o JOIN entre nomes e telefones usando a coluna id
    query = """
        SELECT nomes.id AS id_nome, nomes.nome, telefones.id AS id_telefone, telefones.telefone
        FROM nomes
        LEFT JOIN telefones ON nomes.id = telefones.id
    """
    # Executa a query e retorna um DataFrame pandas
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df
# Realiza o JOIN entre nomes e telefones e obtém o resultado em um DataFrame

result = join_nomes_telefones('agenda2.db')
# Exibe o resultado

print(result)

DatabaseError: Execution failed on sql '
        SELECT nomes.id AS id_nome, nomes.nome, telefones.id AS id_telefone, telefones.telefone
        FROM nomes
        LEFT JOIN telefones ON nomes.id = telefones.id
    ': no such table: nomes

In [60]:
import sqlite3

In [61]:
import pandas as pd

In [62]:
def join_nomes_telefones(database_name: str):
    conn = sqlite3.connect(database_name)
    # Query SQL para realizar o JOIN entre nomes e telefones usando a coluna id
    query = """
        SELECT nomes.id AS id_nome, nomes.nome, telefones.id AS id_telefone, telefones.telefone
        FROM nomes
        LEFT JOIN telefones ON nomes.id = telefones.id
    """
    # Executa a query e retorna um DataFrame pandas
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df
# Realiza o JOIN entre nomes e telefones e obtém o resultado em um DataFrame

result = join_nomes_telefones('agenda2.db')
# Exibe o resultado

print(result)

DatabaseError: Execution failed on sql '
        SELECT nomes.id AS id_nome, nomes.nome, telefones.id AS id_telefone, telefones.telefone
        FROM nomes
        LEFT JOIN telefones ON nomes.id = telefones.id
    ': no such table: nomes

In [63]:
def join_nomes_telefones(database_name: str):
    conn = sqlite3.connect(database_name)
    # Query SQL para realizar o JOIN entre nomes e telefones usando a coluna id
    query = """
        SELECT nomes.id AS id_nome, nomes.nome, telefones.id AS id_telefone, telefones.telefone
        FROM nomes
        LEFT JOIN telefones ON nomes.id = telefones.id
    """
    # Executa a query e retorna um DataFrame pandas
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df
# Realiza o JOIN entre nomes e telefones e obtém o resultado em um DataFrame

result = join_nomes_telefones('agenda.db')
# Exibe o resultado

print(result)

   id_nome      nome  id_telefone   telefone
0        1      João            1  967845670
1        2   Marcela            2  935478970
2        3   Juliana            3  968479830
3        4    Roseli            4  987976587
4        5  Catarina            5  999876545
5        6     Pedro            6  988763420

In [64]:
def join_nomes_emails(database_name: str):
    conn = sqlite3.connect(database_name)
    # Query SQL para realizar o JOIN entre nomes e emails usando a coluna id
    query = """
        SELECT nomes.id AS id_nome, nomes.nome, emails.id AS id_email, emails.email
        FROM nomes
        LEFT JOIN emails ON nomes.id = emails.id
    """
    # Executa a query e retorna um DataFrame pandas
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df
# Realiza o JOIN entre nomes e emails e obtém o resultado em um DataFrame

result = join_nomes_emails('agenda.db')
# Exibe o resultado

print(result)

   id_nome      nome  id_email                email
0        1      João         1     joao@example.com
1        2   Marcela         2  marcela@example.com
2        3   Juliana         3  juliana@example.com
3        4    Roseli         4   roseli@example.com
4        5  Catarina         5     cata@example.com
5        6     Pedro         6    pedro@example.com

In [65]:
create_table(
    database_name = 'agenda.db',
    table_name= 'nome',
    columns = """
        id_nome INTEGER PRIMARY KEY,
        nome TEXT NOT NULL,
        id_idade INT
    """
)

In [66]:
create_table(
    database_name = 'agenda.db',
    table_name= 'telefone',
    columns = """
        id_nome INTEGER PRIMARY KEY,
        nome TEXT NOT NULL,
        id_idade INT
    """
)

In [67]:
create_table(
    database_name = 'agenda.db',
    table_name= 'email',
    columns = """
        id_nome INTEGER PRIMARY KEY,
        nome TEXT NOT NULL,
        id_idade INT
    """
)

In [68]:
add_nome('email.db', 'João')

OperationalError: no such table: nomes

In [69]:
add_nome('agenda.db', 'João')